* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
  font-family: 'FontAwesome';
}

#head-board {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://source.unsplash.com/1280x720/?office,laptop,pc,programming);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
  font-family: 'Roboto', serif;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}


.about-content, h2{
    color: black;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.skill {
    color: black;
    font-size: 18px;
    padding-right: 150px;
    padding-top: 15px;
}

h1 {
  position: relative;
    font-size: 80px!important;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}

h3 {
  color: black;
  text-align:center;
}
p {
  font-size: 18px;
  line-height: 30px;
  padding-right: 150px;
  padding-bottom: 15px;
}

button {
  font-size: 20px!important;
  padding: 15px 20px;
  background: #cc1;
  border: none;
  outline: none;
  font-weight: bolder;
  color: black;
}

.persona {
    display: inline-block;
    color: #cc1;
}

.persona span{
    position: absolute;
    top: 0;
    opacity: 0;
    overflow: hidden;
    animation: change-text 10s linear infinite;
}

.persona span::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 7px;
    background: #cc1;
}

.persona span:nth-child(1){
  animation-delay: 0s;
}

.persona span:nth-child(2){
  animation-delay: 2s;
}

.persona span:nth-child(3){
  animation-delay: 4s;
}

.persona span:nth-child(4){
  animation-delay: 6s;
}

.persona span:nth-child(5){
  animation-delay: 8s;
}

@keyframes change-text {
  0% {
      opacity: 0;
      transform: translateY(-50px);  }

  2% {
      opacity: 1;
      transform: translateY(0px);  }

  18% {
      opacity: 1;
      transform: translateY(0px);  }

  20% {
      opacity: 0;
      transform: translateY(50px);  }

  100% {
      opacity: 0;
      transform: translateY(50px);  }
}

ul {
  list-style: none;
  margin: 0;
}

li {
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
  background: #fff;
}

.navbar-toggler{
  border: none!important;
}

.nav-link {
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}

#head-board-photo {
    border: 1px solid black;
    border-radius: 250px;
    width: 250px;
    position: absolute;
    right: 70px;
}

#description {
    /* position: relative; */
    top: 200px;
    left: 400px;
}

#about {
  width: 100%;
  height: 70vh;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
  background-attachment: fixed;
}

.progress {
  border-radius: 16px;
  margin-bottom: 20px;
}

.progress-bar {
  border-radius: 16px;
}


 #experience {
   width: 100%;
   height: 110vh;
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    background-attachment: fixed;
 }

.experience{
  background: #fff;
  width: 100%;
  color: black;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
}
.contact {
  width: 100%;
  height: 50vh;
  margin-top: 40px;
  background-attachment: fixed;
}


.icon {
  color: black;
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
}

.icon i {
  position: relative;
  bottom: 10px;
}

.text-center p {
  color: black;
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* text-align: center!important; */
  margin-left: 40px;

}

.contact .col-md-4:hover {
  background: #007bff;
  cursor: pointer;
  transition: 0.7s;
  color: #fff!important;
}

/* ------------- Testimonials -------------  */
#testimonials{
  width: 100%;
  height: 120vh;
  background-attachment: fixed;
  margin-bottom: 20px;
}

#testimonials p {
  color: black;
  margin-bottom: 50px;
}

#testimonials .row {
  margin-top: 30px;
}

.profile:hover {
  background: #efefef;
  cursor: pointer;
  transition: 0.7s;
  /* color: #fff!important; */
}

.col-md-4 {
  margin: 100px auto;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile{
  padding: 70px 10px 10px;
  background-color: #efefef;
}

.profile img{
  top:1970px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #fff;
  z-index: 5;
  margin: 25px auto;
}

.profile h3{
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}

.profile span {
  font-size: 12px;
}

.profile:hover{
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

blockquote {
  color: black;
  font-size: 16px;
  line-height: 30px;
}

blockquote:before {
  content: open-quote;
  color: #007bff;
  line-height: 20px;
  position: relative;
  bottom: -15px;
  right: 5px;
  font-size: 3em;
}

blockquote::after {
  content: close-quote;
  font-size: 50px;
  color: #007bff;
  position: relative;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}
